-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: billx_v2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `boq_allocations`
--

DROP TABLE IF EXISTS `boq_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `boq_allocations` (
  `allocation_id` char(36) NOT NULL DEFAULT uuid(),
  `boq_id` char(36) NOT NULL,
  `organization_id` char(36) NOT NULL,
  `allocated_quantity` decimal(15,4) NOT NULL DEFAULT 0.0000,
  `allocation_percent` decimal(5,2) DEFAULT NULL,
  `allocated_rate` decimal(15,2) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`allocation_id`),
  KEY `idx_alloc_boq` (`boq_id`),
  KEY `idx_alloc_org` (`organization_id`),
  CONSTRAINT `fk_alloc_boq` FOREIGN KEY (`boq_id`) REFERENCES `boq_items` (`boq_id`),
  CONSTRAINT `fk_alloc_org` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`organization_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boq_allocations`
--

LOCK TABLES `boq_allocations` WRITE;
/*!40000 ALTER TABLE `boq_allocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `boq_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boq_items`
--

DROP TABLE IF EXISTS `boq_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `boq_items` (
  `boq_id` char(36) NOT NULL DEFAULT uuid(),
  `project_id` char(36) NOT NULL,
  `contract_id` char(36) NOT NULL,
  `item_code` varchar(50) NOT NULL,
  `item_number` int(11) DEFAULT NULL,
  `description` text NOT NULL,
  `unit` varchar(30) NOT NULL,
  `planned_quantity` decimal(15,4) NOT NULL DEFAULT 0.0000,
  `unit_rate` decimal(15,2) NOT NULL DEFAULT 0.00,
  `planned_amount` decimal(18,2) GENERATED ALWAYS AS (`planned_quantity` * `unit_rate`) STORED,
  `category` varchar(100) DEFAULT NULL,
  `phase` varchar(100) DEFAULT NULL,
  `is_non_boq` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`boq_id`),
  UNIQUE KEY `uq_boq_item` (`project_id`,`item_code`),
  KEY `idx_boq_project` (`project_id`),
  KEY `idx_boq_contract` (`contract_id`),
  CONSTRAINT `fk_boq_contract` FOREIGN KEY (`contract_id`) REFERENCES `project_contracts` (`contract_id`),
  CONSTRAINT `fk_boq_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boq_items`
--

LOCK TABLES `boq_items` WRITE;
/*!40000 ALTER TABLE `boq_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `boq_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `excel_imports`
--

DROP TABLE IF EXISTS `excel_imports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `excel_imports` (
  `import_id` char(36) NOT NULL DEFAULT uuid(),
  `project_id` char(36) DEFAULT NULL,
  `contract_id` char(36) DEFAULT NULL,
  `ra_bill_id` char(36) DEFAULT NULL,
  `import_type` enum('boq','ra_bill','budget','measurements') NOT NULL,
  `file_name` varchar(300) NOT NULL,
  `ra_number_detected` int(11) DEFAULT NULL,
  `bill_period` varchar(100) DEFAULT NULL,
  `total_sheets` int(11) DEFAULT 0,
  `boq_items_found` int(11) DEFAULT 0,
  `measurements_found` int(11) DEFAULT 0,
  `status` enum('pending','processing','completed','failed') DEFAULT 'pending',
  `errors_count` int(11) DEFAULT 0,
  `error_log` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`error_log`)),
  `imported_by` char(36) DEFAULT NULL,
  `imported_at` datetime DEFAULT current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`import_id`),
  KEY `fk_import_project` (`project_id`),
  KEY `fk_import_contract` (`contract_id`),
  CONSTRAINT `fk_import_contract` FOREIGN KEY (`contract_id`) REFERENCES `project_contracts` (`contract_id`),
  CONSTRAINT `fk_import_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `excel_imports`
--

LOCK TABLES `excel_imports` WRITE;
/*!40000 ALTER TABLE `excel_imports` DISABLE KEYS */;
INSERT INTO `excel_imports` VALUES ('1663646f-77bb-4b38-8736-7942c13371e7','7f104106-ea7d-4525-9f84-e8668d9400f5','22f2f295-ac75-48bb-84b0-588835309b76','1b9f8aa2-540d-4192-ac66-0c97b1498ff0','ra_bill','1781847557087_Test_RA_Bill_01.xlsx',1,NULL,0,3,0,'completed',0,'[]','USR-ADMIN-00001','2026-06-19 11:09:21','2026-06-19 11:09:21');
/*!40000 ALTER TABLE `excel_imports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investments`
--

DROP TABLE IF EXISTS `investments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investments` (
  `investment_id` char(36) NOT NULL DEFAULT uuid(),
  `project_id` char(36) NOT NULL,
  `investor_id` char(36) NOT NULL,
  `amount` decimal(18,2) NOT NULL,
  `investment_date` date NOT NULL,
  `return_type` enum('profit_share','fixed_return','billing_based') DEFAULT 'fixed_return',
  `expected_return` decimal(18,2) DEFAULT 0.00,
  `return_percent` decimal(6,2) DEFAULT 0.00,
  `billing_milestone` varchar(100) DEFAULT NULL,
  `repaid_amount` decimal(18,2) DEFAULT 0.00,
  `repayment_date` date DEFAULT NULL,
  `status` enum('active','partially_repaid','fully_repaid') DEFAULT 'active',
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`investment_id`),
  KEY `fk_invest_project` (`project_id`),
  KEY `fk_invest_investor` (`investor_id`),
  CONSTRAINT `fk_invest_investor` FOREIGN KEY (`investor_id`) REFERENCES `investors` (`investor_id`),
  CONSTRAINT `fk_invest_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investments`
--

LOCK TABLES `investments` WRITE;
/*!40000 ALTER TABLE `investments` DISABLE KEYS */;
INSERT INTO `investments` VALUES ('1c70702c-6b10-11f1-8a1a-8ac748158e89','PRJ-TKTR-000001','INV-001-TKTR001',5000000.00,'2024-01-20','fixed_return',5750000.00,15.00,NULL,0.00,NULL,'partially_repaid',NULL,'2026-06-18 17:50:36'),('1c7078eb-6b10-11f1-8a1a-8ac748158e89','PRJ-TKTR-000001','INV-002-TKTR001',8000000.00,'2024-02-01','profit_share',9600000.00,20.00,NULL,0.00,NULL,'active',NULL,'2026-06-18 17:50:36');
/*!40000 ALTER TABLE `investments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investors`
--

DROP TABLE IF EXISTS `investors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investors` (
  `investor_id` char(36) NOT NULL DEFAULT uuid(),
  `name` varchar(200) NOT NULL,
  `investor_type` enum('individual','company','institution') DEFAULT 'individual',
  `contact_phone` varchar(20) DEFAULT NULL,
  `contact_email` varchar(150) DEFAULT NULL,
  `pan_number` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `user_id` char(36) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`investor_id`),
  KEY `fk_investor_user` (`user_id`),
  CONSTRAINT `fk_investor_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investors`
--

LOCK TABLES `investors` WRITE;
/*!40000 ALTER TABLE `investors` DISABLE KEYS */;
INSERT INTO `investors` VALUES ('INV-001-TKTR001','Suresh Annamalai','individual','9898989898','suresh@gmail.com','AAGPA5678C',NULL,NULL,'2026-06-18 17:50:36'),('INV-002-TKTR001','Chennai Infra Fund','company','9090909090','fund@cif.in','AAFCF1111B',NULL,NULL,'2026-06-18 17:50:36');
/*!40000 ALTER TABLE `investors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `measurements`
--

DROP TABLE IF EXISTS `measurements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `measurements` (
  `measurement_id` char(36) NOT NULL DEFAULT uuid(),
  `ra_item_id` char(36) NOT NULL,
  `boq_id` char(36) NOT NULL,
  `ra_bill_id` char(36) NOT NULL,
  `serial_no` int(11) DEFAULT NULL,
  `measurement_date` date DEFAULT NULL,
  `rfi_number` varchar(100) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `location_from` decimal(10,3) DEFAULT NULL,
  `location_to` decimal(10,3) DEFAULT NULL,
  `side` varchar(50) DEFAULT NULL,
  `nos` decimal(10,3) DEFAULT NULL,
  `length` decimal(12,4) DEFAULT NULL,
  `breadth` decimal(12,4) DEFAULT NULL,
  `depth` decimal(12,4) DEFAULT NULL,
  `quantity` decimal(15,4) NOT NULL,
  `ipc_number` int(11) DEFAULT NULL,
  `remarks` varchar(300) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`measurement_id`),
  KEY `fk_meas_bill` (`ra_bill_id`),
  KEY `idx_meas_item` (`ra_item_id`),
  KEY `idx_meas_boq` (`boq_id`),
  KEY `idx_meas_ipc` (`ipc_number`),
  CONSTRAINT `fk_meas_bill` FOREIGN KEY (`ra_bill_id`) REFERENCES `ra_bills` (`ra_bill_id`),
  CONSTRAINT `fk_meas_boq` FOREIGN KEY (`boq_id`) REFERENCES `boq_items` (`boq_id`),
  CONSTRAINT `fk_meas_item` FOREIGN KEY (`ra_item_id`) REFERENCES `ra_bill_items` (`ra_item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `measurements`
--

LOCK TABLES `measurements` WRITE;
/*!40000 ALTER TABLE `measurements` DISABLE KEYS */;
/*!40000 ALTER TABLE `measurements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organizations`
--

DROP TABLE IF EXISTS `organizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organizations` (
  `organization_id` char(36) NOT NULL DEFAULT uuid(),
  `org_name` varchar(200) NOT NULL,
  `org_type` enum('main_contractor','subcontractor','owner','consultant') NOT NULL,
  `pan_number` varchar(20) DEFAULT NULL,
  `gst_number` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `contact_person` varchar(150) DEFAULT NULL,
  `contact_phone` varchar(20) DEFAULT NULL,
  `contact_email` varchar(150) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`organization_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organizations`
--

LOCK TABLES `organizations` WRITE;
/*!40000 ALTER TABLE `organizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_contracts`
--

DROP TABLE IF EXISTS `project_contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_contracts` (
  `contract_id` char(36) NOT NULL DEFAULT uuid(),
  `project_id` char(36) NOT NULL,
  `organization_id` char(36) NOT NULL,
  `contract_type` enum('main','subcontract') NOT NULL,
  `contract_number` varchar(100) DEFAULT NULL,
  `contract_value` decimal(18,2) DEFAULT 0.00,
  `scope_description` text DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('active','completed','terminated') DEFAULT 'active',
  `parent_contract_id` char(36) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`contract_id`),
  KEY `fk_contracts_org` (`organization_id`),
  KEY `idx_contracts_project` (`project_id`,`organization_id`),
  KEY `idx_contracts_parent` (`parent_contract_id`),
  CONSTRAINT `fk_contracts_org` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`organization_id`),
  CONSTRAINT `fk_contracts_parent` FOREIGN KEY (`parent_contract_id`) REFERENCES `project_contracts` (`contract_id`),
  CONSTRAINT `fk_contracts_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_contracts`
--

LOCK TABLES `project_contracts` WRITE;
/*!40000 ALTER TABLE `project_contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_expenses`
--

DROP TABLE IF EXISTS `project_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_expenses` (
  `expense_id` char(36) NOT NULL DEFAULT uuid(),
  `project_id` char(36) NOT NULL,
  `contract_id` char(36) DEFAULT NULL,
  `category` enum('labour','material','equipment','overhead','transport','other') NOT NULL,
  `sub_category` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `expense_date` date NOT NULL,
  `vendor_name` varchar(200) DEFAULT NULL,
  `invoice_number` varchar(100) DEFAULT NULL,
  `payment_status` enum('pending','paid','partial') DEFAULT 'pending',
  `recorded_by` char(36) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`expense_id`),
  KEY `fk_expense_project` (`project_id`),
  KEY `fk_expense_contract` (`contract_id`),
  CONSTRAINT `fk_expense_contract` FOREIGN KEY (`contract_id`) REFERENCES `project_contracts` (`contract_id`),
  CONSTRAINT `fk_expense_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_expenses`
--

LOCK TABLES `project_expenses` WRITE;
/*!40000 ALTER TABLE `project_expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `project_id` char(36) NOT NULL DEFAULT uuid(),
  `project_code` varchar(50) NOT NULL,
  `project_name` varchar(300) NOT NULL,
  `project_location` varchar(200) DEFAULT NULL,
  `client_name` varchar(200) DEFAULT NULL,
  `work_order_number` varchar(100) DEFAULT NULL,
  `work_order_date` date DEFAULT NULL,
  `contract_value` decimal(18,2) DEFAULT 0.00,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('planned','ongoing','on_hold','completed','cancelled') DEFAULT 'planned',
  `description` text DEFAULT NULL,
  `created_by` char(36) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`project_id`),
  UNIQUE KEY `project_code` (`project_code`),
  KEY `fk_projects_user` (`created_by`),
  CONSTRAINT `fk_projects_user` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ra_bill_items`
--

DROP TABLE IF EXISTS `ra_bill_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ra_bill_items` (
  `ra_item_id` char(36) NOT NULL DEFAULT uuid(),
  `ra_bill_id` char(36) NOT NULL,
  `boq_id` char(36) NOT NULL,
  `qty_upto_date` decimal(15,4) DEFAULT 0.0000,
  `qty_upto_previous` decimal(15,4) DEFAULT 0.0000,
  `qty_this_bill` decimal(15,4) DEFAULT 0.0000,
  `amount_upto_date` decimal(18,2) DEFAULT 0.00,
  `amount_upto_previous` decimal(18,2) DEFAULT 0.00,
  `amount_this_bill` decimal(18,2) DEFAULT 0.00,
  `qty_diff_from_boq` decimal(15,4) DEFAULT 0.0000,
  `amount_diff_from_boq` decimal(18,2) DEFAULT 0.00,
  `unit_rate` decimal(15,2) DEFAULT 0.00,
  `is_non_boq` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`ra_item_id`),
  KEY `idx_rabi_bill` (`ra_bill_id`),
  KEY `idx_rabi_boq` (`boq_id`),
  CONSTRAINT `fk_rabi_bill` FOREIGN KEY (`ra_bill_id`) REFERENCES `ra_bills` (`ra_bill_id`),
  CONSTRAINT `fk_rabi_boq` FOREIGN KEY (`boq_id`) REFERENCES `boq_items` (`boq_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ra_bill_items`
--

LOCK TABLES `ra_bill_items` WRITE;
/*!40000 ALTER TABLE `ra_bill_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `ra_bill_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ra_bills`
--

DROP TABLE IF EXISTS `ra_bills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ra_bills` (
  `ra_bill_id` char(36) NOT NULL DEFAULT uuid(),
  `project_id` char(36) NOT NULL,
  `contract_id` char(36) NOT NULL,
  `ra_number` int(11) NOT NULL,
  `ra_code` varchar(50) DEFAULT NULL,
  `bill_period_from` date NOT NULL,
  `bill_period_to` date NOT NULL,
  `basic_amount_upto_date` decimal(18,2) DEFAULT 0.00,
  `basic_amount_upto_prev` decimal(18,2) DEFAULT 0.00,
  `basic_amount_this_bill` decimal(18,2) DEFAULT 0.00,
  `sgst_percent` decimal(5,2) DEFAULT 9.00,
  `cgst_percent` decimal(5,2) DEFAULT 9.00,
  `sgst_amount` decimal(18,2) DEFAULT 0.00,
  `cgst_amount` decimal(18,2) DEFAULT 0.00,
  `retention_percent` decimal(5,2) DEFAULT 5.00,
  `retention_amount` decimal(18,2) DEFAULT 0.00,
  `tds_percent` decimal(5,2) DEFAULT 2.00,
  `tds_amount` decimal(18,2) DEFAULT 0.00,
  `labour_cess_percent` decimal(5,2) DEFAULT 1.00,
  `labour_cess_amount` decimal(18,2) DEFAULT 0.00,
  `other_deductions` decimal(18,2) DEFAULT 0.00,
  `gross_amount` decimal(18,2) DEFAULT 0.00,
  `total_deductions` decimal(18,2) DEFAULT 0.00,
  `net_payable` decimal(18,2) DEFAULT 0.00,
  `stage` enum('draft','submitted','under_review','certified','paid','partially_paid') DEFAULT 'draft',
  `submitted_date` date DEFAULT NULL,
  `certified_date` date DEFAULT NULL,
  `certified_amount` decimal(18,2) DEFAULT 0.00,
  `payment_received` decimal(18,2) DEFAULT 0.00,
  `payment_date` date DEFAULT NULL,
  `rejection_amount` decimal(18,2) DEFAULT 0.00,
  `rejection_reason` text DEFAULT NULL,
  `prepared_by` varchar(150) DEFAULT NULL,
  `submitted_to` varchar(150) DEFAULT NULL,
  `ipc_number` int(11) DEFAULT NULL,
  `excel_file_name` varchar(300) DEFAULT NULL,
  `import_id` char(36) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ra_bill_id`),
  UNIQUE KEY `uq_rabill` (`project_id`,`contract_id`,`ra_number`),
  KEY `fk_rabill_contract` (`contract_id`),
  KEY `idx_rabill_project` (`project_id`),
  KEY `idx_rabill_stage` (`stage`),
  CONSTRAINT `fk_rabill_contract` FOREIGN KEY (`contract_id`) REFERENCES `project_contracts` (`contract_id`),
  CONSTRAINT `fk_rabill_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`project_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ra_bills`
--

LOCK TABLES `ra_bills` WRITE;
/*!40000 ALTER TABLE `ra_bills` DISABLE KEYS */;
/*!40000 ALTER TABLE `ra_bills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` char(36) NOT NULL DEFAULT uuid(),
  `organization_id` char(36) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('super_admin','admin','manager','engineer','viewer','investor') NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_org` (`organization_id`),
  CONSTRAINT `fk_users_org` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`organization_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_boq_progress`
--

DROP TABLE IF EXISTS `v_boq_progress`;
/*!50001 DROP VIEW IF EXISTS `v_boq_progress`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_boq_progress` AS SELECT
 1 AS `boq_id`,
  1 AS `project_id`,
  1 AS `contract_id`,
  1 AS `item_code`,
  1 AS `item_number`,
  1 AS `description`,
  1 AS `unit`,
  1 AS `planned_quantity`,
  1 AS `unit_rate`,
  1 AS `planned_amount`,
  1 AS `category`,
  1 AS `is_non_boq`,
  1 AS `executed_quantity`,
  1 AS `executed_amount`,
  1 AS `remaining_quantity`,
  1 AS `remaining_amount`,
  1 AS `completion_percent`,
  1 AS `status` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_project_financial_summary`
--

DROP TABLE IF EXISTS `v_project_financial_summary`;
/*!50001 DROP VIEW IF EXISTS `v_project_financial_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_project_financial_summary` AS SELECT
 1 AS `project_id`,
  1 AS `project_name`,
  1 AS `project_code`,
  1 AS `contract_value`,
  1 AS `status`,
  1 AS `total_certified_basic`,
  1 AS `total_gross_amount`,
  1 AS `total_net_payable`,
  1 AS `total_received`,
  1 AS `total_retention`,
  1 AS `total_expenses`,
  1 AS `total_invested`,
  1 AS `net_position`,
  1 AS `total_ra_bills` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_ra_bill_summary`
--

DROP TABLE IF EXISTS `v_ra_bill_summary`;
/*!50001 DROP VIEW IF EXISTS `v_ra_bill_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_ra_bill_summary` AS SELECT
 1 AS `ra_bill_id`,
  1 AS `project_id`,
  1 AS `ra_number`,
  1 AS `ra_code`,
  1 AS `bill_period_from`,
  1 AS `bill_period_to`,
  1 AS `basic_amount_this_bill`,
  1 AS `basic_amount_upto_date`,
  1 AS `gross_amount`,
  1 AS `net_payable`,
  1 AS `certified_amount`,
  1 AS `payment_received`,
  1 AS `stage`,
  1 AS `pending_payment`,
  1 AS `retention_amount`,
  1 AS `tds_amount`,
  1 AS `labour_cess_amount`,
  1 AS `project_name`,
  1 AS `project_code`,
  1 AS `contractor_name`,
  1 AS `contract_type` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_boq_progress`
--

/*!50001 DROP VIEW IF EXISTS `v_boq_progress`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_boq_progress` AS select `b`.`boq_id` AS `boq_id`,`b`.`project_id` AS `project_id`,`b`.`contract_id` AS `contract_id`,`b`.`item_code` AS `item_code`,`b`.`item_number` AS `item_number`,`b`.`description` AS `description`,`b`.`unit` AS `unit`,`b`.`planned_quantity` AS `planned_quantity`,`b`.`unit_rate` AS `unit_rate`,`b`.`planned_amount` AS `planned_amount`,`b`.`category` AS `category`,`b`.`is_non_boq` AS `is_non_boq`,coalesce(max(`ri`.`qty_upto_date`),0) AS `executed_quantity`,coalesce(max(`ri`.`amount_upto_date`),0) AS `executed_amount`,`b`.`planned_quantity` - coalesce(max(`ri`.`qty_upto_date`),0) AS `remaining_quantity`,`b`.`planned_amount` - coalesce(max(`ri`.`amount_upto_date`),0) AS `remaining_amount`,case when `b`.`planned_quantity` > 0 then round(coalesce(max(`ri`.`qty_upto_date`),0) / `b`.`planned_quantity` * 100,2) else 0 end AS `completion_percent`,case when coalesce(max(`ri`.`qty_upto_date`),0) = 0 then 'Not Started' when `b`.`planned_quantity` > 0 and coalesce(max(`ri`.`qty_upto_date`),0) >= `b`.`planned_quantity` then 'Completed' when `b`.`planned_quantity` > 0 and coalesce(max(`ri`.`qty_upto_date`),0) / `b`.`planned_quantity` > 1 then 'Exceeded BOQ' else 'In Progress' end AS `status` from (`boq_items` `b` left join `ra_bill_items` `ri` on(`ri`.`boq_id` = `b`.`boq_id`)) group by `b`.`boq_id`,`b`.`project_id`,`b`.`contract_id`,`b`.`item_code`,`b`.`item_number`,`b`.`description`,`b`.`unit`,`b`.`planned_quantity`,`b`.`unit_rate`,`b`.`planned_amount`,`b`.`category`,`b`.`is_non_boq` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_project_financial_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_project_financial_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_project_financial_summary` AS select `p`.`project_id` AS `project_id`,`p`.`project_name` AS `project_name`,`p`.`project_code` AS `project_code`,`p`.`contract_value` AS `contract_value`,`p`.`status` AS `status`,coalesce(sum(distinct `r`.`basic_amount_upto_date`),0) AS `total_certified_basic`,coalesce(sum(distinct `r`.`gross_amount`),0) AS `total_gross_amount`,coalesce(sum(distinct `r`.`net_payable`),0) AS `total_net_payable`,coalesce(sum(distinct `r`.`payment_received`),0) AS `total_received`,coalesce(sum(distinct `r`.`retention_amount`),0) AS `total_retention`,coalesce(sum(`e`.`amount`),0) AS `total_expenses`,coalesce(sum(`i`.`amount`),0) AS `total_invested`,coalesce(sum(distinct `r`.`payment_received`),0) - coalesce(sum(`e`.`amount`),0) AS `net_position`,count(distinct `r`.`ra_bill_id`) AS `total_ra_bills` from (((`projects` `p` left join `ra_bills` `r` on(`r`.`project_id` = `p`.`project_id`)) left join `project_expenses` `e` on(`e`.`project_id` = `p`.`project_id`)) left join `investments` `i` on(`i`.`project_id` = `p`.`project_id`)) group by `p`.`project_id`,`p`.`project_name`,`p`.`project_code`,`p`.`contract_value`,`p`.`status` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_ra_bill_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_ra_bill_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_ra_bill_summary` AS select `r`.`ra_bill_id` AS `ra_bill_id`,`r`.`project_id` AS `project_id`,`r`.`ra_number` AS `ra_number`,`r`.`ra_code` AS `ra_code`,`r`.`bill_period_from` AS `bill_period_from`,`r`.`bill_period_to` AS `bill_period_to`,`r`.`basic_amount_this_bill` AS `basic_amount_this_bill`,`r`.`basic_amount_upto_date` AS `basic_amount_upto_date`,`r`.`gross_amount` AS `gross_amount`,`r`.`net_payable` AS `net_payable`,`r`.`certified_amount` AS `certified_amount`,`r`.`payment_received` AS `payment_received`,`r`.`stage` AS `stage`,`r`.`certified_amount` - `r`.`payment_received` AS `pending_payment`,`r`.`retention_amount` AS `retention_amount`,`r`.`tds_amount` AS `tds_amount`,`r`.`labour_cess_amount` AS `labour_cess_amount`,`p`.`project_name` AS `project_name`,`p`.`project_code` AS `project_code`,`o`.`org_name` AS `contractor_name`,`pc`.`contract_type` AS `contract_type` from (((`ra_bills` `r` join `projects` `p` on(`r`.`project_id` = `p`.`project_id`)) join `project_contracts` `pc` on(`r`.`contract_id` = `pc`.`contract_id`)) join `organizations` `o` on(`pc`.`organization_id` = `o`.`organization_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 12:41:12
